
body {
	background-color: #6495ED;
  color: #CDEDF6;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
  margin: 0;
  /*For Navbar*/
  padding-top: 25px;
  text-align: center;
}

/*Background color*/
/*Cornflower Blue #6495ED*/
/*2nd Background Color*/
/* May Green #4CA64C */
/*Navbar*/
/*Dark Green #042A2B*/

/*Modals and Link highlights*/
/*Moonstone Blue #5EB1BF*/
/*Text*/
/*Azurish White#CDEDF6*/


/*Rename Everything*/
/*http://getbem.com/naming/ */
/*block*/
/*.block__elem*/
/*block block-mod*/

/*Rebuild CSS Modals using Flexbox*/
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*Also use*/

/*Responsiveness for mobile site. 
Only mobile version is visible*/


/*General Elements*/
.header {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.header__large {
  font-size: 50px;
}

.section {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #6495ED;
}

.section__green {
  background-color: #2CA58D;
}

.button {
  margin: auto;
  background-color: #2CA58D;
  color: #CDEDF6;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  box-shadow: 3px 3px 1px black;
}

.button a {
  color: #CDEDF6;
  text-decoration: none;

}

/*Responsiveness*/
.hide-small{
	display: none;
}

/*This is only to force the divs to show on a smaller screen*/

.section__show {
  display: none;
}

@media (max-width: 750px) {

  .section__show {
      display: block!important;
  }
}

@media (min-width: 750px) {

  body {
    font-size: 15px;
  }

	.hide-small{
		display: block;
	}

  
}



/*Navbar*/

nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #042A2B;
    color: #CDEDF6;
    margin: 0;
    overflow: hidden;
    /*Fixed top*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

nav a {
  color: #CDEDF6;
  display: block;
  margin: auto;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;

}

nav a:hover {
  background-color: #5EB1BF;
  color: #CDEDF6;
}

nav a:focus {
  color: #CDEDF6;
}

nav a:active {
  font-weight: 700px;
}

.nav--left {
  float: left;
}

.nav--right {
  float: right;
}

@media (min-width: 750px) {
  .nav {
    width:100%;
  }
}

/*Images*/
.img-responsive {
  box-shadow: 3px 3px 1px black;
}

/*Home*/

.img__home {
  max-width: 500px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #5EB1BF;

}

/*About Me*/

.img__aboutme {
  max-width: 800px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #042A2B;
}

/*Modal*/

.modal {
  display: none;
}


